@page "{subjectId?}"
@model VerasWeb.Pages.Covid19.Edit

@{
    ViewData["Title"] = "Edit";
}

@if (!string.IsNullOrEmpty(Model.TestPerson.Id))
{
<h2>Now Editing @Model.TestPerson.FirstName @Model.TestPerson.LastName</h2>
}
else
{
    <h2>Register Test Subject Info!</h2>
}

<form method="POST">

    <input type="hidden" asp-for="TestPerson.Id">
    <div class="form-group">
        <label asp-for="TestPerson.CprNumber"></label>
        <input asp-for="TestPerson.CprNumber" class="form-control">
        <span class="text-danger" asp-validation-for="TestPerson.CprNumber"></span>
    </div>
    <div class="form-group">
        <label asp-for="TestPerson.FirstName"></label>
        <input asp-for="TestPerson.FirstName" class="form-control">
        <span class="text-danger" asp-validation-for="TestPerson.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="TestPerson.LastName"></label>
        <input asp-for="TestPerson.LastName" class="form-control">
        <span class="text-danger" asp-validation-for="TestPerson.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="TestPerson.TestResult"></label>
        <input asp-for="TestPerson.TestResult" class="form-control">
        <span class="text-danger" asp-validation-for="TestPerson.TestResult"></span>
    </div>
    <div class="form-group">
        <label asp-for="TestPerson.Completed"></label>
        <input asp-for="TestPerson.Completed" class="form-control">
        <span class="text-danger" asp-validation-for="TestPerson.Completed"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>