﻿@page
@model VerasWeb.Pages.Covid19.ListModel
@{ ViewData["Title"] = "TestPersons";}

@Model.Name
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Cpr-Number</th>
            <th>Test completed</th>
            <th>Test result</th>
            <th>Edit</th>
        </tr>
    </thead>
    @foreach (var subject in Model.TestPersons)
    {
<tr>
    <td>@subject.FirstName</td>
    <td>@subject.LastName</td>
    <td>@subject.CprNumber</td>
    <td>@subject.Completed</td>
    <td>@subject.TestResult</td>
    <td>
        <a class="btn-lg" asp-page="./Edit" asp-route-subjectId="@subject.Id">
            <i class="fas fa-edit">Edit</i>
        </a>
    </td>
</tr>
    }
</table>
<a class="btn btn-primary" asp-page="./Edit">Add new</a>